{% extends 'motorartigos/base.html' %}
{% load static %}

{% block content %}
<section class="container mb-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h4 class="text-white fw-bold m-0">Mais Quentes </h4>
        <div>
            <!--<button class="btn btn-nav me-1">‹</button>-->
            <!-- <button class="btn btn-nav">›</button> -->
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 flex-nowrap overflow-hidden">
        {% for artigo in artigos_recentes %}
        <div class="col">
             <a href="{% url 'detalhe_artigo' artigo.id %}" class="text-decoration-none">
                <div class="card card-custom h-100 border-0">
                    <div class="position-relative">
                        {% if artigo.foto %}
                            <img src="{{ artigo.foto.url }}" class="card-img-top" alt="{{ artigo.titulo }}">
                        {% else %}
                            <div class="card-img-top thumb-gradient"></div>
                        {% endif %}
                        
                         <!-- Lógica condicional para cor do badge -->
                    <span class="badge position-absolute top-0 end-0 m-3 px-2 py-1
                        {% if artigo.nivel == 'bo' %}bg-danger-custom
                        {% elif artigo.nivel == 'ru' %}bg-warning-custom text-dark
                        {% elif artigo.nivel == 'mi' %}bg-info-custom text-dark
                        {% elif artigo.nivel == 'ga' %}bg-primary-custom text-dark
                        {% elif artigo.nivel == 'lo' %}bg-secondary-custom text-dark
                        {% elif artigo.nivel == 'gal' %}bg-success-custom text-dark
                        {% elif artigo.nivel == 'ba' %}bg-dark-custom text-dark
                        {% elif artigo.nivel == 'co' %}bg-light-custom text-dark
                        {% elif artigo.nivel == 'ca' %}bg-warning-custom text-dark
                        {% else %}bg-success-custom{% endif %}">
                        {{ artigo.get_nivel_display }}
                    </span>
                    </div>
                    <div class="card-body d-flex flex-column justify-content-between">
                        <div>
                           <!-- <small class="text-secondary d-block mb-2">🕒 {{ artigo.data_publicacao|date:"d/m/Y" }}</small>  --> 
                            <h5 class="card-title text-white fw-bold fs-6">{{ artigo.titulo }}</h5>
                            <p class="card-text text-secondary small">{{ artigo.conteudo|truncatechars:100 }}</p>

                                <span class="small text-white">
                             {{  artigo.id_fk_eixo.nome  }}
                        </span>
                        </div>
                        <div class="d-flex justify-content-between align-items-center mt-3 pt-3 border-top border-dark-light">
                            <span class="small text-white">
                                <span class="avatar me-1">{{ artigo.id_fk_responsavel.nome|slice:":2"|upper }}</span> 
                                {{ artigo.id_fk_responsavel.nome }}
                            </span>
                            <span class="text-primary-custom small fw-bold">Ler mais →</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</section>

<section class="container mb-5">
    <h4 class="text-white fw-bold mb-4">Todos os Artigos</h4>

   <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4"> <!-- Alterado para col-lg-4 para 4 itens -->
    {% for artigo in artigos %} 
    <div class="col">
        <a href="{% url 'detalhe_artigo' artigo.id %}" class="text-decoration-none">
            <div class="card card-custom h-100 border-0">
                <div class="position-relative">
                    {% if artigo.foto %}
                        <img src="{{ artigo.foto.url }}" class="card-img-top" alt="{{ artigo.titulo }}">
                    {% else %}
                        <div class="card-img-top thumb-gradient"></div>
                    {% endif %}
                    
                    <!-- Lógica condicional para cor do badge -->
                    <span class="badge position-absolute top-0 end-0 m-3 px-2 py-1
                        {% if artigo.nivel == 'bo' %}bg-danger-custom
                        {% elif artigo.nivel == 'ru' %}bg-warning-custom text-dark
                        {% elif artigo.nivel == 'mi' %}bg-info-custom text-dark
                        {% elif artigo.nivel == 'ga' %}bg-primary-custom text-dark
                        {% elif artigo.nivel == 'lo' %}bg-secondary-custom text-dark
                        {% elif artigo.nivel == 'gal' %}bg-success-custom text-dark
                        {% elif artigo.nivel == 'ba' %}bg-dark-custom text-dark
                        {% elif artigo.nivel == 'co' %}bg-light-custom text-dark
                        {% elif artigo.nivel == 'ca' %}bg-warning-custom text-dark
                        {% else %}bg-success-custom{% endif %}">
                        {{ artigo.get_nivel_display }}
                    </span>
                </div>
                <div class="card-body d-flex flex-column justify-content-between">
                    <div>
                       <!-- <small class="text-secondary d-block mb-2">Cliente desde: 🕒 {{ artigo.data_publicacao|date:"d/m/Y" }}</small>--> 
                        <h5 class="card-title text-white fw-bold fs-6">{{ artigo.titulo }}</h5>
                        <!-- Resumo do texto truncado -->
                        <p class="card-text text-secondary small">
                            {{ artigo.conteudo|truncatechars:100 }}
                        </p>
                        <span class="small text-white">
                             {{  artigo.id_fk_eixo.nome  }}
                        </span>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mt-3 pt-3 border-top border-dark-light">
                        <span class="small text-white">
                            <!-- Avatar e Nome dinâmicos -->
                            <span class="avatar me-1">{{ artigo.id_fk_responsavel.nome|slice:":2"|upper }}</span> 
                            {{ artigo.id_fk_responsavel.nome }}
                        </span>
                        <span class="text-primary-custom small fw-bold">Ler mais →</span>
                    </div>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
</section>

{% endblock %}